/*---------------------------------------
*   基本のstyleの指定
*---------------------------------------*/

body {
    color: #333;
    line-height: 1.8;
    font-family:
        "Noto Sans JP",
        "ヒラギノ角ゴ ProN",
        "Hiragino Kaku Gothic ProN",
        "メイリオ",
        "Meiryo",
        sans-serif;
    * {
        box-sizing: border-box;
    }
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
p {
    color: #000;
    margin-bottom: 1.5em;
    &:last-of-type {
        margin-bottom: 0;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}